[submodule "third_party/angle"]
	path = third_party/angle
	url = https://chromium.googlesource.com/angle/angle
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = ../../google/googletest.git
